  <div class="navbar-left-menu ">
    <%= render "shared/dashboard_menu" %>
    <%= render "shared/team_menu" %>
    <%= render "shared/plant_menu" %>
    <%= render "shared/production_menu" %>
    <%= render "shared/services_menu" %>
    <%= render "shared/lubricant_menu" %>
    <%= render "shared/fuel_menu" %>
    <%= render "shared/workshop_menu" %>
  </div>
