<div class="navbar-container col-sm-6">
  <div class="navbar-user-container">
    <div class="user-container">
      <p class="menu"> <%= current_user.email%></p>
     <!-- render the logic if the user has a profile picutre or not -->
     <div class="dropdown">
    <button class="dropbtn"><%= image_tag "avatar_icon.png", class: "avatar" %> </button>
        <div class="dropdown-content">
          <%= link_to "Profile", "" %>
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete} %>
        </div>
    </div>
    </div>
  </div>
  <div class="navbar-menu">
    <div class="navbar-menu-left">
      <%= image_tag "plus_icon.png", class: "icon" %>
      <%= render "shared/large-search-box" %>
    </div>
    <div class="navbar-menu-right">
      <%= render "shared/project-search-box" %>
    <!-- build the logic to display the company logo -->
      <%= image_tag "simpo_logo.png" %>
    </div>
  </div>
  </div>
